<!--About Page-->
<div class="row">
 <div class="col-lg-12 text-center">
  <h1>About Me</h1>
  <p class="lead">Hi! My name is Jordan Ashment and I am an aspiring Web Developer! I am currently studying Computer Science at Brigham Young University in Provo, Utah.  Along with that, I have other side projects that I have been trying out such as HTML, CSS, JavaScript and this app was even built with Ruby On Rails!</p>
  <ul class="list-unstyled">
   <li>List Item</li>
   <li>List Item 2</li>
  </ul>
 </div>
</div>